duckduckgo-search==8.0.2
huggingface-hub[hf_xet]==0.30.2
llama-cpp-python==0.3.8
llama-cpp-agent==0.2.35
llama-index==0.12.19
regex==2024.11.6
streamlit==1.45.0
wikitextparser==0.56.4

chromadb==0.6.3
llama-index-vector-stores-chroma==0.4.1
llama-index-llms-ollama==0.5.2
llama-index-embeddings-huggingface==0.5.1
pypdf==5.6.1
pdfminer.six==20250506
PyPDF2==3.0.1
pycryptodome==3.23.0